import React from 'react';

class {{capital_name}} extends React.Component {
  render() {
    return (
      <div className="{{lower_name}}">

      </div>
    )
  }
}

export default {{capital_name}};
