<!-- Compiled by the resolver-html-compile gulp task into a function -->
<div>
  <script> {{&code_declaration}} </script>

  <style> {{&css}} </style>

  <div id="root">
  </div>

  <script> {{&js}} </script>
</div>
