#console {
  height: 100px;
  background: #383838;
  color: white;
  padding: 10px;
  overflow: scroll;

  .console-item {
    width: 100%;
    font-family: "Courier New", Courier;
    border-bottom: 1px solid #444;

    &.warn {
      color: hsl( 29, 54%, 61%);
    }

    &.error {
      color: hsl(355, 65%, 65%);
    }
  }
}
