#console {
  height: 100px;
  background: #383838;
  border-top: 1px solid #ccc;
  color: white;
  padding: 10px;
  overflow: scroll;

  .console-item {
    width: 100%;
    font-family: "Courier New", Courier;
  }
}
